
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="favicon.png">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap4" />

	<!-- Bootstrap CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<link href="css/tiny-slider.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<title>Furni Free Bootstrap 5 Template for Furniture and Interior Design Websites by Untree.co </title>
</head>


<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
	<div class="container">
		<div class="row justify-content-between align-items-center">
			<div class="col-lg-6">
				<h2 class="section-title">Neden Biz</h2>
				<p>Yetenekli Ekibimiz İle Evinize Şıklık Katıyoruz</p>

				<div class="row my-5">
					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="~/furni-1.0.0/images/truck.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Hızlı Kargolama</h3>
							<p>En Hızlı Ve Güvenli Kargolama</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="~/furni-1.0.0/images/bag.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Kolay Alışveriş</h3>
							<p>Dünyanın Her Yerinden Alışveriş Yapabilirsiniz</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="~/furni-1.0.0/images/support.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>7/24 Destek</h3>
							<p>Bize Her Saat Ulaşabilirsiniz.</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="~/furni-1.0.0/images/return.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Geri Ödeme Ve İade Kolaylığı</h3>
							<p>Şartsız Koşulsuz Kötü Ürünleri İade Alıyoruz</p>
						</div>
					</div>

				</div>
			</div>

			<div class="col-lg-5">
				<div class="img-wrap">
					<img src="~/furni-1.0.0/images/why-choose-us-img.jpg" alt="Image" class="img-fluid">
				</div>
			</div>

		</div>
	</div>
</div>
<!-- End Why Choose Us Section -->

<div class="untree_co-section">
	<div class="container">
		<div class="row mb-5">
			<div class="col-lg-5 mx-auto text-center">
				<h2 class="section-title">Ekibimiz İle Tanışın</h2>
			</div>
		</div>

		<div class="row">
			<!-- Start Column 1 -->
			<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0 team-member">
				<img src="~/furni-1.0.0/images/rNcR50S4ew0.jpg" class="img-fluid mb-3 team-img">
				<h3><a href="#"><span class="first-name">Le </span> Corbusier</a></h3>
				<span class="d-block position mb-3">CEO, Kurucu, Mimar.</span>
				<p>Modern mimarinin öncülerinden olup, fonksiyonel ve minimalist tasarımları ile bilinir. "Villa Savoye" ve "Unité d'Habitation" gibi eserleri meşhurdur.</p>
				<p class="mb-0"><a href="#" class="more dark">Daha Fazlası... <span class="icon-arrow_forward"></span></a></p>
			</div>
			<!-- End Column 1 -->
			<!-- Start Column 2 -->
			<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0 team-member">
				<img src="~/furni-1.0.0/images/f8634064d6340a27ca18618c293b4cec.jpg" class="img-fluid mb-3 team-img">
				<h3><a href="#"><span class="first-name">Nanna </span> Ditzel</a></h3>
				<span class="d-block position mb-3">Yönetici, Koordinatör, Mobilya Tasarımcısı.</span>
				<p>Danimarka'nın en önemli kadın tasarımcılarından biri olup, yenilikçi ve organik formları ile bilinir. "Hanging Egg Chair" adlı ikonik tasarımıyla ünlüdür.</p>
				<p class="mb-0"><a href="#" class="more dark">Daha Fazlası... <span class="icon-arrow_forward"></span></a></p>
			</div>
			<!-- End Column 2 -->
			<!-- Start Column 3 -->
			<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0 team-member">
				<img src="~/furni-1.0.0/images/d_hans_wegner_1.jpg" class="img-fluid mb-3 team-img">
				<h3><a href="#"><span class="first-name">Hans J</span> Wegner</a></h3>
				<span class="d-block position mb-3">Usta, Yönetici, Tekstil Tasarımcısı.</span>
				<p>Modern Danimarka mobilya tasarımının önde gelen isimlerinden olup, zarif ve işlevsel sandalyeleri ile tanınır. "The Chair" ve "Wishbone Chair" en ünlü tasarımlarındandır.</p>
				<p class="mb-0"><a href="#" class="more dark">Learn More <span class="icon-arrow_forward"></span></a></p>
			</div>
			<!-- End Column 3 -->
			<!-- Start Column 4 -->
			<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0 team-member">
				<img src="~/furni-1.0.0/images/8bb817fed742132c4dba1ca702da00cc.jpg" class="img-fluid mb-3 team-img">
				<h3><a href="#"><span class="first-name">Philippe </span> Starck</a></h3>
				<span class="d-block position mb-3">Yardımcı, Sorumlu, İç Tasarımcı.</span>
				<p> Yenilikçi tasarımları ile tanınan dünyaca ünlü bir tasarımcıdır. Otel, mobilya, mutfak eşyaları gibi geniş bir yelpazede çalışmaları vardır. "Juicy Salif" adlı limon sıkacağı en tanınmış ürünlerinden biridir.</p>
				<p class="mb-0"><a href="#" class="more dark">Learn More <span class="icon-arrow_forward"></span></a></p>
			</div>
			<!-- End Column 4 -->
		</div>
	</div>
</div>

<style>
	.untree_co-section {
		padding: 50px 0;
	}

	.section-title {
		font-size: 36px;
		font-weight: bold;
		margin-bottom: 40px;
		color: #333;
	}

	.team-member {
		text-align: center;
		background: #fff;
		border: 1px solid #eaeaea;
		border-radius: 10px;
		padding: 20px;
		transition: transform 0.3s, box-shadow 0.3s;
	}

		.team-member:hover {
			transform: translateY(-10px);
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
		}

	.team-img {
		width: 100%;
		height: 200px;
		object-fit: cover;
		border-radius: 10px;
		margin-bottom: 15px;
	}

	.first-name {
		font-weight: bold;
		color: #007bff;
	}

	.position {
		font-size: 14px;
		color: #888;
	}

	.more {
		color: #007bff;
		text-decoration: none;
	}

		.more:hover {
			text-decoration: underline;
		}

	.icon-arrow_forward {
		display: inline-block;
		margin-left: 5px;
		transition: margin-left 0.3s;
	}

	.more:hover .icon-arrow_forward {
		margin-left: 10px;
	}

	p {
		color: #555;
	}

	.dark {
		color: #007bff;
	}
</style>



		</div>
	</div>
</div>


<!-- Start Testimonial Slider -->
<div class="testimonial-section before-footer-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 mx-auto text-center">
				<h2 class="section-title">Referanslar</h2>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-12">
				<div class="testimonial-slider-wrap text-center">

					<div id="testimonial-nav">
						<span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
						<span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
					</div>

					<div class="testimonial-slider">

						<div class="item">
							<div class="row justify-content-center">
								<div class="col-lg-8 mx-auto">

									<div class="testimonial-block text-center">
										<blockquote class="mb-5">
											<p>
												Mobilyalardan Çok Memnunum Herkese Tavsiye Ederim

											</p>
										</blockquote>

										<div class="author-info">
											<div class="author-pic">
												<img src="~/furni-1.0.0/images/person-1.png" alt="Maria Jones" class="img-fluid">
											</div>
											<h3 class="font-weight-bold">Maria Jones</h3>
											<span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- END item -->

						<div class="item">
							<div class="row justify-content-center">
								<div class="col-lg-8 mx-auto">

									<div class="testimonial-block text-center">
										<blockquote class="mb-5">
											<p>
												Özellikle Çalışma Koltuğundan Çok Memnunum. Tüm Yazılımla İlgilenlere Tavsiye Ediyorum

											</p>
										</blockquote>

										<div class="author-info">
											<div class="author-pic">
												<img src="~/furni-1.0.0/images/person-1.png" alt="Maria Jones" class="img-fluid">
											</div>
											<h3 class="font-weight-bold">Maria Jones</h3>
											<span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- END item -->

						<div class="item">
							<div class="row justify-content-center">
								<div class="col-lg-8 mx-auto">

									<div class="testimonial-block text-center">
										<blockquote class="mb-5">
											<p>
												Çok Güzel Masalar Ve Kaliteli Ürünler

											</p>
										</blockquote>

										<div class="author-info">
											<div class="author-pic">
												<img src="~/furni-1.0.0/images/person-1.png" alt="Maria Jones" class="img-fluid">
											</div>
											<h3 class="font-weight-bold">Maria Jones</h3>
											<span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- END item -->

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Testimonial Slider -->
