
<div class="we-help-section">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-7 mb-5 mb-lg-0">
				<div class="imgs-grid">
					<div class="grid grid-1"><img src="~/furni-1.0.0/images/img-grid-1.jpg" alt="Untree.co"></div>
					<div class="grid grid-2"><img src="~/furni-1.0.0/images/img-grid-2.jpg" alt="Untree.co"></div>
					<div class="grid grid-3"><img src="~/furni-1.0.0/images/img-grid-3.jpg" alt="Untree.co"></div>
				</div>
			</div>
			<div class="col-lg-5 ps-lg-5">
				<h2 class="section-title mb-4">Modern İç Tasarım Yapmanıza Yardımcı Oluyoruz</h2>
				<p>Yetenekli Ekibimiz İle Hayallerinizdeki Mobilyaları Üretiyor ve Sizlere Sunuyoruz.</p>

				<ul class="list-unstyled custom-list my-4">
					<li>İhtiyaçlarınıza ve zevkinize göre, tamamen size özel mobilya tasarımları sunuyoruz.</li>
					<li>dayanıklılığı ve estetiği ön planda tutarak en kaliteli malzemeleri kullanıyoruz.</li>
					<li>Her aşamada titizlikle çalışarak hayalinizdeki mobilyalara ulaşmanızı sağlıyoruz.</li>
					<li>Sorularınızı yanıtlamak ve ihtiyaçlarınıza uygun çözümler sunmak için buradayız.</li>
				</ul>
				<p><a herf="#" class="btn">Keşfet</a></p>
			</div>
		</div>
	</div>
</div>
